.ds-logo-icon {
  container-type: inline-size;
  display: block;
  width: 100%;
  max-width: 208px;
}

.ds-logo-icon svg {
  display: block;
  width: 100%;
  height: auto;
}

@container (max-width: 389px) {
  .ds-logo-icon {
    max-width: 120px;
  }
}
